<div class="center">
  <%= form_tag sessions_path, :html => { :class => "form-horizontal" } do %>
   <fieldset>
      <div id="legend">
        <legend class="">登录</legend>
      </div>
      <div class="control-group">
        <!-- 邮箱 -->
        <label class="control-label" for="email">邮箱</label>
        <div class="controls">
          <%= text_field_tag :email, params[:email], :class=>"input-xlarge", :placeholder=>"" %>
        </div>
      </div>

      <div class="control-group">
        <!-- Password-->
        <label class="control-label" for="password">密码</label>
        <div class="controls">
          <%= password_field_tag :password, params[:password], :class=>"input-xlarge", :placeholder=>"" %>
        </div>
      </div>

      <div class="control-group">
        <!-- Button -->
        <div class="controls">
          <%= button_tag '登录',:class=>"btn btn-success" %>
        </div>
      </div>     
    </fieldset>
    <% end %>
  </div>
