<%= form_for @user, :html => { :class => "form-horizontal" } do |f| %>
<fieldset>
  <div id="legend">
    <legend class="">注册</legend>
  </div>

  <%= render :partial => "form_attr", :locals => { :user => @user,:f=>f } %>
  
  <div class="control-group">
     <div class="controls">
        <%= f.button '注册',:class=>"btn btn-success" %>
    </div>
  </div>     
  </fieldset>
<% end %>
