<%= form_for @user, :html => { :class => "form-horizontal" } do |f| %>
<fieldset>
  <div id="legend">
    <legend class="">用户资料设置</legend>
  </div>
    <%= render :partial => "form_attr", :locals => { :user => @user,:f=>f } %>

    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <%= f.button '保存',:class=>"btn btn-success" %>
      </div>
    </div>     
  </fieldset>
  <% end %>
<%= notice %>