.topics{
	margin-left: 3%;
	width: 900px;
	text-align: left;
}

.topics tr{
	line-height: 30px;
}

.title{
	width: 58%;
}

.topics th{
  font-size: 12px;
}

.topics h3{
	margin-bottom: 30px;
	font-size: 20px;
	color: #FF7504;
	width: 200px;
}

.topics tr  a {
	text-decoration: none;
  color: #79B32B;
}

.topics tr a:hover {
	text-decoration:underline;
  background-color: #EEE;
}


#new_topic{
	color: #fff;
	float: right;
	margin-top: -60px;
	margin-right: 3px;
}

.topics table{
	margin-right: 0px;
}

.topic{
	margin-left: 3%;
	width: 600px;
	text-align: left;
}

.topic h3{
	margin-bottom: 30px;
	font-size: 20px;
	width: 200px;
}

.topic form{
	width: 600px;
	padding-top: 40px;

}

.topic textarea{
	-webkit-appearance: textarea;
		background-color: white;
		border: 1px solid;
		border-image: initial;
		-webkit-rtl-ordering: logical;
		-webkit-user-select: text;
		-webkit-box-orient: vertical;
		resize: auto;
		cursor: auto;
		padding: 2px;
		white-space: pre-wrap;
		word-wrap: break-word;
		width: 500px;
		height: 200px;
}

#topic_node_id{
	width: 100px;
}

#return{
	color: #fff;
	float: left;
	margin-left: 40px;
}


.topic #submit{
  float: left;
}


.topic h1{
	font-size: 30px;
	line-height: 30px;
	color: #FF7504;
	border-bottom: 1px dashed #000;
	padding-bottom: 10px;

}

.topic a {
	text-decoration: none;
  color: #79B32B;
  float: left;
  padding-right: 50px;
}

.topic span{
	float: right;
}

.main a:hover {
	text-decoration:underline;
  background-color: #EEE;
}

p.conent{
	padding-top: 30px;
	padding-left: 130px;
} 